<html>
<head>
<title>Sample report</title>
<style>
    body {

    }
    table, td, th {
        border-collapse: collapse;
        border: 1px solid black;
        font-size: 12px;
    }
    td {
        text-align: right;
        width: 90px;
    }
    tr.summary th {
        text-align: right;
    }
    .cell-long {
        width: 150px;
    }
    .cell-mid {
        width: 110px;
    }
    .cell-short {
        width: 25px;
    }
    .negative {
        color: red;
    }
</style>
</head>
<body>

{% for group, group_positions in positions | groupby('closeTrade.year_month') %}
<h1>{{ group }}</h1>
<table>
    <tr>
        <th colspan="2">&nbsp;</th>
        <th colspan="6">Otwarcie</th>
        <th colspan="6">Zamkniecie</th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <th class="cell-short">Lp</th>
        <th class="cell-long">Ilosc</th>
        <th class='cell-date'>Data</th>
        <th>Cena</th>
        <th>Prowizja</th>
        <th class="cell-long">Obciazenie</th>
        <th>Kurs waluty</th>
        <th class="cell-mid">Wartosc</th>
        <th class='cell-date'>Data</th>
        <th>Cena</th>
        <th>Prowizja</th>
        <th class="cell-long">Uznanie</th>
        <th>Kurs waluty</th>
        <th class="cell-mid">Wartosc</th>
        <th class="cell-mid">Zysk</th>
    </tr>
{% set ns = namespace(profit=0) %}
{% for p in group_positions %}
    <tr>
        {% set openValue = p.openTrade.volume * p.openTrade.price + p.openTrade.fee %}
        {% set closeValue = p.closeTrade.volume * p.closeTrade.price - p.closeTrade.fee %}
        {% set openValueConverted  = openValue  | convert(p.openTrade.date,  p.openTrade.currency2)  | round(2) %}
        {% set closeValueConverted = closeValue | convert(p.closeTrade.date, p.closeTrade.currency2) | round(2) %}
        {% set profit = closeValueConverted - openValueConverted %}
        {% set ns.profit = ns.profit + profit %}
        <td>{{loop.index}}</td>
        <td>{{ p.openTrade.volume }} {{ p.openTrade.currency1}}</td>
        <td>{{ p.openTrade.date | formatYMD }}</td>
        <td>{{ p.openTrade.price }}</td>
        <td>{{ p.openTrade.fee | round(4) }} {{ p.openTrade.currency2 }}</td>
        <td>{{ openValue }} {{ p.openTrade.currency2 }}</td>
        <td>{{ 1 | rate(p.openTrade.date, p.openTrade.currency2) }}</td>
        <td>{{ openValueConverted  | decimal(2) }} {{ target_currency }}</td>
        <td>{{ p.closeTrade.date | formatYMD }}</td>
        <td>{{ p.closeTrade.price }}</td>
        <td>{{ p.closeTrade.fee | round(4)  }} {{ p.closeTrade.currency2 }}</td>
        <td>{{ closeValue}} {{ p.closeTrade.currency2}}</td>
        <td>{{ 1 | rate(p.closeTrade.date,  p.closeTrade.currency2) }}</td>
        <td>{{ closeValueConverted  | decimal(2) }} {{ target_currency }}</td>
        <td class="{% if profit<0 %}}negative{% endif %}">{{ profit | decimal(2) }} {{ target_currency }} </td>
    </tr>
{% endfor %}
    <tr class="summary">
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Razem:</th>
        <th class="{% if ns.profit<0 %}}negative{% endif %}">{{ ns.profit }} {{ target_currency }}</th>
    </tr>
</table>

<div style="page-break-after: always"></div>
{% endfor %}

</body>
</html>
